n8nAgent
{
  "name": "VKR Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -480,
        460
      ],
      "id": "958fa905-88df-4e13-8eb7-ed2e9f1327c4",
      "name": "Telegram Trigger1",
      "webhookId": "d9029b08-3972-48f4-8473-7aca9ca4dafa",
      "credentials": {
        "telegramApi": {
          "id": "Rh4aFlR2AiMLSRnY",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger1').item.json.message.voice.file_id }}",
                    "rightValue": "={{ $json.message.voice.file_id }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "b4e22bed-c599-4032-8f1c-aa9b3d2a3a96"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3d01e053-bddc-409f-bbc4-0ff314a8d3d5",
                    "leftValue": "={{ $('Telegram Trigger1').item.json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        60,
        400
      ],
      "id": "8baa3a9e-d427-49ef-b250-0f8499fbfbfb",
      "name": "Switch1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1180,
        440
      ],
      "id": "ed1edbec-2027-4ee3-8ba3-45f6126513fe",
      "name": "Answer1",
      "webhookId": "cbc844cf-6ec2-4d06-86fc-1ef628e0f071",
      "credentials": {
        "telegramApi": {
          "id": "Rh4aFlR2AiMLSRnY",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger1').item.json.message.voice.file_id }}"
      },
      "id": "cc46270d-54b8-49d8-a770-06da5f8ab969",
      "name": "Download Voice File",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        260,
        280
      ],
      "webhookId": "44f2baa4-d47e-46e0-948b-d4bdd74e9d8b",
      "credentials": {
        "telegramApi": {
          "id": "Rh4aFlR2AiMLSRnY",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://stt.api.cloud.yandex.net/speech/v1/stt:recognize",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Api-Key AQVNz7WK9Dss4t8Rjzv6FjTjQrSWtLE6IhsoNrc_"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        280
      ],
      "id": "d41e2661-3923-4259-bb83-12a9d15f9bc9",
      "name": "STT1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "_embedded.items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        220,
        960
      ],
      "id": "4216967a-7b17-49c3-8fe0-6f95c3361777",
      "name": "Split Out"
    },
    {
      "parameters": {
        "url": "={{ $json.href }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        960
      ],
      "id": "6061a13c-329d-4f2a-82be-d730b319ae56",
      "name": "Download"
    },
    {
      "parameters": {
        "url": "=https://cloud-api.yandex.net/v1/disk/resources/download?path=%2FVKRDIPLOMDOCS/{{ $json.name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "OAuth y0__xCE4eysBRjblgMg1LLuthMw8Ze7hQi-u20Balf2UkrhqX9eWW0C3P-LgQ"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        960
      ],
      "id": "2a505446-4a79-490c-b519-871ef5408e33",
      "name": "GET File"
    },
    {
      "parameters": {
        "url": "https://cloud-api.yandex.net/v1/disk/resources?path=%2FVKRDIPLOMDOCS",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": " application/json"
            },
            {
              "name": "Authorization",
              "value": "OAuth y0__xCE4eysBRjblgMg1LLuthMw8Ze7hQi-u20Balf2UkrhqX9eWW0C3P-LgQ"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        960
      ],
      "id": "ce3e9052-c276-49e1-b87f-219b09607bf3",
      "name": "Search"
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        920,
        960
      ],
      "id": "1a8df125-8c67-4f15-a5c5-cd3b4e62c074",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1500,
        1220
      ],
      "id": "791e2652-cab7-49be-9ad2-de671a07af72",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 800,
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1520,
        1400
      ],
      "id": "7749e6b3-abd2-4100-b652-369c6bb2a46b",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1360,
        1220
      ],
      "id": "daf6b393-dfd5-406a-ab38-2499d466346b",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "b92x5sMg4oDANneC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "embeddingBatchSize": 600,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        1360,
        980
      ],
      "id": "932e2ea9-831d-4959-8fb2-2c4d53d13060",
      "name": "WriteDocs",
      "credentials": {
        "supabaseApi": {
          "id": "DibL8w6z01CJ31nj",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Панель админа\n",
        "height": 680,
        "width": 2100,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -280,
        880
      ],
      "typeVersion": 1,
      "id": "1e0e5ef1-0456-4ad9-b454-7c315a760a31",
      "name": "Sticky Note"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -220,
        960
      ],
      "id": "11d6ce37-bd24-4156-97ac-417b63220cad",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger1').item.json.message.text }}{{ $json.result }}",
        "options": {
          "systemMessage": "Every time you answer a question please go the the vectorStore tool to get the data for the answer. Always answer exactly as it says in the document that you received from the vectorStore, this is extremely important.\n\nYou are a digital assistant working in a corporate environment. Your name is Рупий. Your role is to help employees by answering their questions about company policies, internal documents, procedures, HR-related requests, IT support, and other operational matters. You are helpful, clear, and professional in your communication. Use formal but friendly language. If necessary, you may ask clarifying questions to better understand the user's intent.\n\nYou may occasionally use emojis to highlight something important, but do not overuse them. Keep responses concise and focused. Always maintain the tone of a competent and calm digital colleague.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        720,
        440
      ],
      "id": "145be05e-1b83-4284-b405-5cc898157220",
      "name": "AI Agent3"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger1').item.json.message.text }}{{ $json.result }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        640,
        660
      ],
      "id": "7aef1d93-706f-4213-81da-a3adf65d5432",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "SctaQPKX5rfUTIDV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        420,
        620
      ],
      "id": "e19b4e10-476c-4ad3-b62c-8333766e8706",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "b92x5sMg4oDANneC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        820,
        720
      ],
      "id": "84f73476-57a9-4cff-ba20-cf1f151c8418",
      "name": "Embeddings OpenAI7",
      "credentials": {
        "openAiApi": {
          "id": "b92x5sMg4oDANneC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "vectorStore",
        "toolDescription": "This is the tool where you can get all the store data.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        900,
        600
      ],
      "id": "fce14c0e-e6e0-49d3-b01f-fafa082de1e9",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "DibL8w6z01CJ31nj",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "# ИИ-агент Рупий.",
        "height": 860,
        "width": 2480,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -520,
        0
      ],
      "typeVersion": 1,
      "id": "909bc410-5c72-4dc9-83fc-5b73fc7348fa",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $json.message.chat.id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -200,
        460
      ],
      "id": "a3fa2951-3020-49bd-898d-96190e38cc4f",
      "name": "Send message",
      "webhookId": "e79f6792-eb03-4b96-8e94-dc14768b467e",
      "credentials": {
        "telegramApi": {
          "id": "Rh4aFlR2AiMLSRnY",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "=Сообщение не прошло обработку. Попробуйте позже.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        780,
        260
      ],
      "id": "a24f83be-e377-41e9-9b79-f7b7c9f88ad2",
      "name": "Answer",
      "webhookId": "cbc844cf-6ec2-4d06-86fc-1ef628e0f071",
      "credentials": {
        "telegramApi": {
          "id": "Rh4aFlR2AiMLSRnY",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Download Voice File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Voice File": {
      "main": [
        [
          {
            "node": "STT1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STT1": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "GET File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET File": {
      "main": [
        [
          {
            "node": "Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "WriteDocs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "WriteDocs",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "WriteDocs",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "WriteDocs": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI7": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "Answer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send message": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "742e355f-d953-4bcd-8a04-2d070476e6ee",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c6ffe0ca81bb0225246cbef2a0fa225f49d9b4a61c1a23350618e7ab7b8a84bd"
  },
  "id": "hvb3PwVv1s5HmuHP",
  "tags": [
    {
      "createdAt": "2025-06-06T13:47:17.282Z",
      "updatedAt": "2025-06-06T13:47:17.282Z",
      "id": "HX0vYJ6fbd5F5ZBb",
      "name": "assistent"
    },
    {
      "createdAt": "2025-06-07T09:14:01.291Z",
      "updatedAt": "2025-06-07T09:14:01.291Z",
      "id": "jl1RcNWxwsh0IuCY",
      "name": "sfs"
    }
  ]
}
